*:focus{
	outline: none;
}
body{
	font-family: Lato;
	color: #353535;
    display: none;
}
body.print, body.noPrint{
    display: block;
}
#mainContent{
	width: 1120px;
	margin: 0 auto;	
}

.thinButton{
	padding: 8px 20px 8px 20px;
	background-color: #1696d2;
	color: #fff;
	display: inline-block;
	cursor: pointer;
}
.thinButton a, .thicButton a{
	color: #fff;
	text-decoration: none;
}
.thinButton:hover, .thicButton:hover{
	background-color: #353535;
}
.thicButton{
	padding: 13px 20px 13px 20px;
	background-color: #1696d2;
	color: #fff;
	display: inline-block;
	cursor: pointer;
	margin-right: 5px;
	margin-top: 20px;
	margin-bottom: 50px;
}
a{
	color: #1696d2;
	text-decoration: none;
}
a.standard{
	color: #1696d2;
	text-decoration: none;
}
a.standard:hover{
	color: #353535;
}
a.inverted{
	color: #353535;
	text-decoration: none;
}
a.inverted:hover{
	color: #1696d2;
}

/*********************************************************************************/
/*******************************       MENU      *********************************/
/*********************************************************************************/

#menuBar{
	position: fixed;
    width: 100%;
    background: #F5F5F5;
    top: 51px;
    z-index: 98;
    height: 49px;
}

#tabWrapper{
	width: 300px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    background: none;
}
#tabWrapper span{
	display: inline-block;
    background: #999999;
    width: 2px;
    height: 25px;
    position: absolute;
    top: 14px;
    height: 18px;
    float: left;
}

.menuTab{
	display: inline-block;
    text-transform: uppercase;
	font-size:14px;
	margin-top:14px;
}
.menuTab.active, .menuTab:hover{
	font-weight: bold;
	color: #1696d2;
}
.menuTab.home{
	width: 69px;
}
.menuTab.cities{
	width: 98px;
	position: relative;
	left: 1px;
	text-align: center;
}
.menuTab.groups{
    width: 124px;
    text-align: right;
}
.menuTab.menu{
	display: none;
}


/*********************************************************************************/
/************************       ABOUT NAV BAR     ********************************/
/*********************************************************************************/


#aboutNavbar{
    display: none;
    position: absolute;
    top: 50px;
    height: 50px;
    background: #EFEFEF;
    color: #696969;
    text-transform: uppercase;
    font-size: 18px;
    width: 100%;
    cursor: pointer;
}
#aboutNavTitle{
    width: 100%;
    text-align: center;
    padding-top: 13px;
}



/*********************************************************************************/
/***************************       HOME TITLE     ********************************/
/*********************************************************************************/
#titleContainer{
	width: 100%;
}
#title, #subtitle{
	display: block;
	font-size: 40px;
	width: 100%;
	text-align: center;
}
#title{
	margin-top: 150px;
	font-weight: bold;
}
#subtitle{
	font-weight: 300;
	margin-bottom: 50px;
}
.introText{
	font-size: 24px;
    font-style: italic;
    font-weight: 300;
    line-height: 1.5;
    text-align: left;
}
#datePublished{
	font-style: italic;
    font-weight: lighter;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

/*********************************************************************************/
/*****************************       BODY COPY      ******************************/
/*********************************************************************************/
#homeCopy{
    display: block;
    margin-top: 900px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.copyHeader{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 35px;
}
.copyP, .copyUl{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 22px;
}
.copyUl{
	padding-left: 21px;
	width: calc(100% - 21px);
}
.copyUl li{
	text-align: left;
    list-style: initial;
    padding-left: 20px;
    padding-bottom: 30px;
}

.colorText.s1Type{
	color: #1696d2;
}
.colorText.s2Type{
	color: #408941;
}

#controlsContainer{
	display: inline-block;
	position: relative;
	width: 1120px;
}

/*********************************************************************************/
/******************************      TAB WRAPPER      ****************************/
/*********************************************************************************/
#scenarioTabs{
    width: 100%;
    height: 105px;
}
#mobileScenario{
    display: none;
}
#mobileScenario select{
    display: none !important;
}
#mobileScenarioHeader{
    font-size: 16px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin-bottom: 12px;
    color: #000;
}
#scenarioTabs.s1{
	border-bottom: 2px solid #1696D2;
}
#scenarioTabs.s2{
	border-bottom: 2px solid #98CF90;
}
.scenarioTab{
    display: inline-block;
    float: right;
    padding: 13px;
    /*background: green;*/
    width: 280px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-weight: normal;
    margin-bottom: 40px;
    margin-top: 55px;
    cursor: pointer;
}
.scenarioTab.s1{
	background: #73BFE2;
    border-bottom: 2px solid #98CF90
}
.scenarioTab.s2{
	background: #98CF90;
}
.scenarioTab.active{
	background: #fff;
	font-weight: bold;
}
.scenarioTab.s1.active{
	color: #1696D2;
	border-top: 2px solid #1696d2;
	border-left: 2px solid #1696d2;
	border-right: 2px solid #1696d2;
    border-bottom: 2px solid #fff;
    height: 23px
}
.scenarioTab.s2.active{
	color: #408941;
	border-top: 2px solid #98CF90;
	border-left: 2px solid #98CF90;
	border-right: 2px solid #98CF90;
    border-bottom: 0px solid #fff;
}

.scenarioContainer.hidden{
	position: absolute;
    top: 147px;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
}

/*********************************************************************************/
/****************************       LOADING      *********************************/
/*********************************************************************************/
#loadingContainer{
    position: absolute;
    width: calc(100% + 100px);
    background: rgba(255,255,255,.95);
    height: 100%;
    z-index: 10;
    left: -50px;
}
#loadingGif img{
    margin: 0 auto;
    display: block;
    margin-top: 60px;
}
#loadingText{
    font-size: 20px;
    margin: 0 auto;
    margin-top: 30px;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-style: italic;
    color: #adabac;
}



/*********************************************************************************/
/*******************************      INPUTS      ********************************/
/*********************************************************************************/


.inputContainer{
	width: 300px;
    padding-right: 85px;
    margin-top: 40px;
    display: inline-block;
    float: left;
}
.scenarioContainer.hidden .inputContainer{
	margin-top: 0px;
}
.h1.colorText{
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 20px;
}
.h2.colorText{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 19px;
    margin-top: 40px;
}
.p1{
    font-size: 16px;
    line-height: 27px;
    display: inline-block;
}
.p1.top{
    margin-bottom: 20px;
}
.legend{
    margin-top: 37px;
    margin-bottom: 62px;
    position: relative;
    font-size: 18px;
    color: #adabac;
}
.legend span{
    width: 19px;
    display: inline-block;
}
.legend span img{
    width: 11px;
    position: absolute;
    top: -9px;
}
.sliderContainer{
	position: relative;
}
.sliderLabel{
	display: inline;
}
.sliderValue{
    font-size: 14px;
    top: -8px;
    position: absolute;
    left: 34px;
	z-index: 2;
	background: rgba(255,255,255,.5);
	padding: 1px;
}
.sliderValue.s1Type{
	color: #1696d2;
}
.sliderValue.s2Type{
	color: #408941;
}
.sliderMin, .sliderMax{
    color: #adabac;
    font-size: 14px;
    display: block;
    position: absolute;
    font-weight: normal;
    top: -2px;
}
.sliderMin.a{
	left: -24px;
}
.sliderMin.b{
    left: -1px;
}
.sliderMin.c{
    left: -10px;
}
.sliderMax.a{
	left: 221px;
}
.sliderMax.b, .sliderMax.c{
	left: 236px
}
.sidebar.button, #footerContent .button{
    text-transform: uppercase;
    width: 198px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    margin-top: 64px;
    cursor: pointer;

}
#footerContent .button{
    border: 2px solid #353535;
    color: #353535;
    display: inline-block;
    margin-right: 20px;
    font-weight: normal;
}
#footerContent .button:hover{
    background: #353535;
    color: #fff;
}
.inputContainer.s1Type .sidebar.button{
    color: #169dd2;
    background: white;
    border: 2px solid #1696d2;
}
.inputContainer.s1Type .sidebar.button:hover{
    background: #73BFE2;
    border:2px solid #73BFE2;
    color: white;
}

.inputContainer.s2Type .sidebar.button{
    color: #408941;
    background: white;
    border: 2px solid #408941;
}
.inputContainer.s2Type .sidebar.button:hover{
    background: #98CF90;
    border:2px solid #98CF90;
    color: white;

}
.chartContainer{
	display: inline-block;
	float: left;
	width: 730px;
}
.costContainer{
	display: inline-block;
	float: left;
}
.costSubcontainer{
	width: 337px;
}
.costSubcontainer{
	margin-right: 0px;
}
.avgContainer{
    display: inline-block;
    float: left;
    margin-left: 92px;
    width: 300px;
    margin-right: 0px;
}
.avgSubcontainer .largeText{
	margin-left: -23px;
}
.largeText{
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.medText{
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
}
.chartHeader{
	font-weight: 300;
	font-size: 24px;
	text-transform: uppercase;
}
.baselineText{
	font-size: 18px;
    color: #adabac;
    margin-top: 5px;
}
.costSubcontainer .chartLabel{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
}
.chartLabel{
    font-size: 16px;
}
.radioRow input{
	float: left;
	display: inline-block;
	margin-right: 5px;
}

/*********************************************************************************/
/*******************************      TOOLTIPS      ******************************/
/*********************************************************************************/
.tt{
    width: 23px;
    height: 23px;
    margin-left: 7px;
    background-size: 22px;
    background-repeat: no-repeat;
    display: inline-block;
    top: 3px;
    position: relative;
    cursor: pointer;
}
.tt.s1{
    background-image: url(../img/s1-tt-icon.png);
}
.tt.s2{
    background-image: url(../img/s2-tt-icon.png);
}
.tt.tenYear{
    top: 4px;
}
.tooltip{
    position: absolute;
    font-size: 14px;
    text-transform: none;
    width: 140px;
    background: rgba(227,227,227, .9);
    z-index: 10;
    padding: 12px;
    font-weight: normal;
    color: #000;
    left: -71px;
    line-height: 1.5;
}
.tooltip:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: rgba(227,227,227, .9);
    border-width: 15px;
    margin-left: -15px;
}


/*********************************************************************************/
/***********************      CUSTOM RANGE SLIDERS      **************************/
/*********************************************************************************/
/*modified from http://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html*/


input[type=range] {
    display: block;
    width: 250px;
    float: left;
    margin-top: 12px;
    -webkit-appearance: none;
    border: none;
    height: 18px;
    background-color: transparent;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  input[type=range] {
    display: block;
    width: 250px;
    float: left;
    margin-top: 12px;
      /*removes default webkit styles*/
      -webkit-appearance: none;
      
      /*fix for FF unable to apply focus style bug */
      border: none;
      height: 20px;
      background-color: transparent;
      
      /*required for proper track sizing in FF*/
      /*width: 300px;*/
  }


}

input[type=range]::-webkit-slider-runnable-track {
    /*width: 300px;*/
    height: 2px;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #fff;
    margin-top: -8px;
    cursor: pointer;
}
input[type=range]:focus {
    outline: 0;
}
input::-moz-focus-inner{
	outline: 0;
}
input[type=range]::-moz-focus-outer {
    border: 0;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    outline: none;
}

input[type=range]::-moz-range-track {
    /*width: 300px;*/
    height: 2px;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: none;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    /*width: 300px;*/
    max-width: 50px !important;
    /*height: 5px;*/
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    height: 10px;
    width: 10px;
    border-radius: 501%;
    background: #fff;
    cursor: pointer;
}












input[type=range].s1::-webkit-slider-runnable-track {
    background: #1696d2;
}
input[type=range].s1::-webkit-slider-thumb {
    border: 2px solid #1696d2;
}
input[type=range].s1:focus::-webkit-slider-runnable-track {
    background: #1696d2;
}
input[type=range].s1::-moz-range-track {
    background: #1696d2;
}
input[type=range].s1::-moz-range-thumb {
    border: 2px solid #1696d2;
}
input[type=range].s1::-ms-fill-lower {
    background: #1696d2;
}
input[type=range].s1::-ms-fill-upper {
    background: #1696d2;
}
input[type=range].s1::-ms-thumb {
    border: 2px solid #1696d2;
}
input[type=range].s1:focus::-ms-fill-lower {
    background: #1696d2;
}
input[type=range].s1:focus::-ms-fill-upper {
    background: #1696d2;
}






input[type=range].s2::-webkit-slider-runnable-track {
    background: #408941;
}
input[type=range].s2::-webkit-slider-thumb {
    border: 2px solid #408941;
}
input[type=range].s2:focus::-webkit-slider-runnable-track {
    background: #408941;
}
input[type=range].s2::-moz-range-track {
    background: #408941;
}
input[type=range].s2::-moz-range-thumb {
    border: 2px solid #408941;
}
input[type=range].s2::-ms-fill-lower {
    background: #408941;
}
input[type=range].s2::-ms-fill-upper {
    background: #408941;
}
input[type=range].s2::-ms-thumb {
    border: 2px solid #408941;
}
input[type=range].s2:focus::-ms-fill-lower {
    background: #408941;
}
input[type=range].s2:focus::-ms-fill-upper {
    background: #408941;
}



input[type=range]#pt40::-webkit-slider-runnable-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.40, #408941), color-stop(0.40, #adabac));
}
input[type=range]#pt40:focus::-webkit-slider-runnable-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.40, #408941), color-stop(0.40, #adabac));;
}
input[type=range]#pt40::-moz-range-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.40, #408941), color-stop(0.40, #adabac));
}
input[type=range]#pt40::-ms-fill-lower {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.40, #408941), color-stop(0.40, #adabac));
}
input[type=range]#pt40::-ms-fill-upper {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.40, #408941), color-stop(0.40, #adabac));
}
input[type=range]#pt40:focus::-ms-fill-lower {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.40, #408941), color-stop(0.40, #adabac));
}
input[type=range]#pt40:focus::-ms-fill-upper {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.40, #408941), color-stop(0.40, #adabac));
}



input[type=range]#pt44::-webkit-slider-runnable-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.44, #408941), color-stop(0.44, #adabac));
}
input[type=range]#pt44:focus::-webkit-slider-runnable-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.44, #408941), color-stop(0.44, #adabac));;
}
input[type=range]#pt44::-moz-range-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.44, #408941), color-stop(0.44, #adabac));
}
input[type=range]#pt44::-ms-fill-lower {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.44, #408941), color-stop(0.44, #adabac));
}
input[type=range]#pt44::-ms-fill-upper {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.44, #408941), color-stop(0.44, #adabac));
}
input[type=range]#pt44:focus::-ms-fill-lower {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.44, #408941), color-stop(0.44, #adabac));
}
input[type=range]#pt44:focus::-ms-fill-upper {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.44, #408941), color-stop(0.44, #adabac));
}



input[type=range]#pt48::-webkit-slider-runnable-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.48, #408941), color-stop(0.48, #adabac));
}
input[type=range]#pt48:focus::-webkit-slider-runnable-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.48, #408941), color-stop(0.48, #adabac));;
}
input[type=range]#pt48::-moz-range-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.48, #408941), color-stop(0.48, #adabac));
}
input[type=range]#pt48::-ms-fill-lower {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.48, #408941), color-stop(0.48, #adabac));
}
input[type=range]#pt48::-ms-fill-upper {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.48, #408941), color-stop(0.48, #adabac));
}
input[type=range]#pt48:focus::-ms-fill-lower {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.48, #408941), color-stop(0.48, #adabac));
}
input[type=range]#pt48:focus::-ms-fill-upper {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.48, #408941), color-stop(0.48, #adabac));
}



input[type=range]#pt52::-webkit-slider-runnable-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.52, #408941), color-stop(0.52, #adabac));
}
input[type=range]#pt52:focus::-webkit-slider-runnable-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.52, #408941), color-stop(0.52, #adabac));;
}
input[type=range]#pt52::-moz-range-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.52, #408941), color-stop(0.52, #adabac));
}
input[type=range]#pt52::-ms-fill-lower {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.52, #408941), color-stop(0.52, #adabac));
}
input[type=range]#pt52::-ms-fill-upper {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.52, #408941), color-stop(0.52, #adabac));
}
input[type=range]#pt52:focus::-ms-fill-lower {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.52, #408941), color-stop(0.52, #adabac));
}
input[type=range]#pt52:focus::-ms-fill-upper {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.52, #408941), color-stop(0.52, #adabac));
}



input[type=range]#pt56::-webkit-slider-runnable-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.56, #408941), color-stop(0.56, #adabac));
}
input[type=range]#pt56:focus::-webkit-slider-runnable-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.56, #408941), color-stop(0.56, #adabac));;
}
input[type=range]#pt56::-moz-range-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.56, #408941), color-stop(0.56, #adabac));
}
input[type=range]#pt56::-ms-fill-lower {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.56, #408941), color-stop(0.56, #adabac));
}
input[type=range]#pt56::-ms-fill-upper {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.56, #408941), color-stop(0.56, #adabac));
}
input[type=range]#pt56:focus::-ms-fill-lower {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.56, #408941), color-stop(0.56, #adabac));
}
input[type=range]#pt56:focus::-ms-fill-upper {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.56, #408941), color-stop(0.56, #adabac));
}



input[type=range]#pt60::-webkit-slider-runnable-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.60, #408941), color-stop(0.60, #adabac));
}
input[type=range]#pt60:focus::-webkit-slider-runnable-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.60, #408941), color-stop(0.60, #adabac));;
}
input[type=range]#pt60::-moz-range-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.60, #408941), color-stop(0.60, #adabac));
}
input[type=range]#pt60::-ms-fill-lower {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.60, #408941), color-stop(0.60, #adabac));
}
input[type=range]#pt60::-ms-fill-upper {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.60, #408941), color-stop(0.60, #adabac));
}
input[type=range]#pt60:focus::-ms-fill-lower {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.60, #408941), color-stop(0.60, #adabac));
}
input[type=range]#pt60:focus::-ms-fill-upper {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.60, #408941), color-stop(0.60, #adabac));
}



input[type=range]#pt64::-webkit-slider-runnable-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.64, #408941), color-stop(0.64, #adabac));
}
input[type=range]#pt64:focus::-webkit-slider-runnable-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.64, #408941), color-stop(0.64, #adabac));;
}
input[type=range]#pt64::-moz-range-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.64, #408941), color-stop(0.64, #adabac));
}
input[type=range]#pt64::-ms-fill-lower {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.64, #408941), color-stop(0.64, #adabac));
}
input[type=range]#pt64::-ms-fill-upper {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.64, #408941), color-stop(0.64, #adabac));
}
input[type=range]#pt64:focus::-ms-fill-lower {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.64, #408941), color-stop(0.64, #adabac));
}
input[type=range]#pt64:focus::-ms-fill-upper {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.64, #408941), color-stop(0.64, #adabac));
}



input[type=range]#pt68::-webkit-slider-runnable-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.68, #408941), color-stop(0.68, #adabac));
}
input[type=range]#pt68:focus::-webkit-slider-runnable-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.68, #408941), color-stop(0.68, #adabac));;
}
input[type=range]#pt68::-moz-range-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.68, #408941), color-stop(0.68, #adabac));
}
input[type=range]#pt68::-ms-fill-lower {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.68, #408941), color-stop(0.68, #adabac));
}
input[type=range]#pt68::-ms-fill-upper {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.68, #408941), color-stop(0.68, #adabac));
}
input[type=range]#pt68:focus::-ms-fill-lower {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.68, #408941), color-stop(0.68, #adabac));
}
input[type=range]#pt68:focus::-ms-fill-upper {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.68, #408941), color-stop(0.68, #adabac));
}



input[type=range]#pt72::-webkit-slider-runnable-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.72, #408941), color-stop(0.72, #adabac));
}
input[type=range]#pt72:focus::-webkit-slider-runnable-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.72, #408941), color-stop(0.72, #adabac));;
}
input[type=range]#pt72::-moz-range-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.72, #408941), color-stop(0.72, #adabac));
}
input[type=range]#pt72::-ms-fill-lower {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.72, #408941), color-stop(0.72, #adabac));
}
input[type=range]#pt72::-ms-fill-upper {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.72, #408941), color-stop(0.72, #adabac));
}
input[type=range]#pt72:focus::-ms-fill-lower {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.72, #408941), color-stop(0.72, #adabac));
}
input[type=range]#pt72:focus::-ms-fill-upper {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.72, #408941), color-stop(0.72, #adabac));
}



input[type=range]#pt76::-webkit-slider-runnable-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.76, #408941), color-stop(0.76, #adabac));
}
input[type=range]#pt76:focus::-webkit-slider-runnable-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.76, #408941), color-stop(0.76, #adabac));;
}
input[type=range]#pt76::-moz-range-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.76, #408941), color-stop(0.76, #adabac));
}
input[type=range]#pt76::-ms-fill-lower {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.76, #408941), color-stop(0.76, #adabac));
}
input[type=range]#pt76::-ms-fill-upper {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.76, #408941), color-stop(0.76, #adabac));
}
input[type=range]#pt76:focus::-ms-fill-lower {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.76, #408941), color-stop(0.76, #adabac));
}
input[type=range]#pt76:focus::-ms-fill-upper {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.76, #408941), color-stop(0.76, #adabac));
}



input[type=range]#pt80::-webkit-slider-runnable-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.80, #408941), color-stop(0.80, #adabac));
}
input[type=range]#pt80:focus::-webkit-slider-runnable-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.80, #408941), color-stop(0.80, #adabac));;
}
input[type=range]#pt80::-moz-range-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.80, #408941), color-stop(0.80, #adabac));
}
input[type=range]#pt80::-ms-fill-lower {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.80, #408941), color-stop(0.80, #adabac));
}
input[type=range]#pt80::-ms-fill-upper {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.80, #408941), color-stop(0.80, #adabac));
}
input[type=range]#pt80:focus::-ms-fill-lower {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.80, #408941), color-stop(0.80, #adabac));
}
input[type=range]#pt80:focus::-ms-fill-upper {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.80, #408941), color-stop(0.80, #adabac));
}



input[type=range]#pt84::-webkit-slider-runnable-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.84, #408941), color-stop(0.84, #adabac));
}
input[type=range]#pt84:focus::-webkit-slider-runnable-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.84, #408941), color-stop(0.84, #adabac));;
}
input[type=range]#pt84::-moz-range-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.84, #408941), color-stop(0.84, #adabac));
}
input[type=range]#pt84::-ms-fill-lower {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.84, #408941), color-stop(0.84, #adabac));
}
input[type=range]#pt84::-ms-fill-upper {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.84, #408941), color-stop(0.84, #adabac));
}
input[type=range]#pt84:focus::-ms-fill-lower {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.84, #408941), color-stop(0.84, #adabac));
}
input[type=range]#pt84:focus::-ms-fill-upper {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.84, #408941), color-stop(0.84, #adabac));
}



input[type=range]#pt88::-webkit-slider-runnable-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.88, #408941), color-stop(0.88, #adabac));
}
input[type=range]#pt88:focus::-webkit-slider-runnable-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.88, #408941), color-stop(0.88, #adabac));;
}
input[type=range]#pt88::-moz-range-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.88, #408941), color-stop(0.88, #adabac));
}
input[type=range]#pt88::-ms-fill-lower {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.88, #408941), color-stop(0.88, #adabac));
}
input[type=range]#pt88::-ms-fill-upper {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.88, #408941), color-stop(0.88, #adabac));
}
input[type=range]#pt88:focus::-ms-fill-lower {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.88, #408941), color-stop(0.88, #adabac));
}
input[type=range]#pt88:focus::-ms-fill-upper {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.88, #408941), color-stop(0.88, #adabac));
}



input[type=range]#pt92::-webkit-slider-runnable-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.92, #408941), color-stop(0.92, #adabac));
}
input[type=range]#pt92:focus::-webkit-slider-runnable-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.92, #408941), color-stop(0.92, #adabac));;
}
input[type=range]#pt92::-moz-range-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.92, #408941), color-stop(0.92, #adabac));
}
input[type=range]#pt92::-ms-fill-lower {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.92, #408941), color-stop(0.92, #adabac));
}
input[type=range]#pt92::-ms-fill-upper {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.92, #408941), color-stop(0.92, #adabac));
}
input[type=range]#pt92:focus::-ms-fill-lower {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.92, #408941), color-stop(0.92, #adabac));
}
input[type=range]#pt92:focus::-ms-fill-upper {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.92, #408941), color-stop(0.92, #adabac));
}



input[type=range]#pt96::-webkit-slider-runnable-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.96, #408941), color-stop(0.96, #adabac));
}
input[type=range]#pt96:focus::-webkit-slider-runnable-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.96, #408941), color-stop(0.96, #adabac));;
}
input[type=range]#pt96::-moz-range-track {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.96, #408941), color-stop(0.96, #adabac));
}
input[type=range]#pt96::-ms-fill-lower {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.96, #408941), color-stop(0.96, #adabac));
}
input[type=range]#pt96::-ms-fill-upper {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.96, #408941), color-stop(0.96, #adabac));
}
input[type=range]#pt96:focus::-ms-fill-lower {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.96, #408941), color-stop(0.96, #adabac));
}
input[type=range]#pt96:focus::-ms-fill-upper {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.96, #408941), color-stop(0.96, #adabac));
}


/*********************************************************************************/
/***********************      CUSTOM RADIO BUTTONS      **************************/
/*********************************************************************************/
input[type="radio"]{
  display: none;
}

.radioRow label {
	position: relative;
}

.radioRow label {
	position: relative;
}
.radioRow span::before,
.radioRow span::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}
.radioRow span.radio:hover {
	cursor: pointer;
}
.radioRow span.radio::before {
	left: -22px;
	top: -5px;
	width: 15px;
	height: 15px;
	background-color: #ffffff;
	border-radius: 50px;
}
.radioRow span.s1Type.radio::before{
	border: 2px solid #1696d2;
}
.radioRow span.s2Type.radio::before{
	border: 2px solid #408941;
}


.radioRow span.radio::after {
	left: -19px;
	top: -5px;
	width: 13px;
	height: 13px;
	border-radius: 10px;
	background-color: #ffffff;
	transition: left .25s, background-color .25s;
}
input[type="radio"]:checked + label span.s1Type.radio::after {
	background-color: #1696d2;
}
input[type="radio"]:checked + label span.s2Type.radio::after {
	background-color: #408941;
}


/*********************************************************************************/
/******************************      BAR CHARTS      *****************************/
/*********************************************************************************/

.barCharts{
	display: inline-block;
    float: left;
    clear: both;
    margin-top: 59px;
}
.barContainer{
	width: 300px;
	display: inline-block;
    float: left;
    margin-right: 50px;
    margin-top: -10px;
}
.barContainer.benefits{
	clear: both;
}
.barContainer .chart{
    margin-top: 10px;
	position: relative;
}
.bar{
	stroke: none;
}

.suppressedContainer{
    position: absolute;
    left: 150px;
    margin-top: -5px;
    background: white;
    padding-top: 4px;
    padding-bottom: 17px;
    color: #C4C4C4;
    font-size: 16px;
    font-style: italic;
}
.suppressedContainer.hidden{
    display: none;
}
.suppressedContainer .tt{
    top: 6px
}


.s1Type.income.bar{
	fill: #062635;
}
.s1Type.race.bar{
	fill: #0A4C6A;
}
.s1Type.instType.bar{
	fill: #12719E;
}
.s1Type.parentsEd.bar{
	fill: #46ABDB;
}
.s1Type.benefits.bar{
	fill: #73BFE2;
}
.s1Type.indep.bar{
    fill: #A2D4EC;
}




.s2Type.income.bar{
	fill: #1A2E19;
}
.s2Type.race.bar{
	fill: #2C5C2D;
}
.s2Type.instType.bar{
	fill: #408941;
}
.s2Type.parentsEd.bar{
	fill: #78C26D;
}
.s2Type.benefits.bar{
	fill: #98CF90;
}
.s2Type.indep.bar{
    fill: #BCDEB4;
}



.baselineBar{
	fill: #E5E5E5;
}
.baselineLine{
	stroke: #adabac;
	stroke-width: 2px;
}
.baselineDot{
	stroke: none;
	fill: #adabac;
}
.tickLabel{
	position: absolute;
	width: 140px;
}

.barLabel{
	font-size: 12px;
	font-weight: bold;
}
.baseLineLabel{
    font-size: 12px;
    fill: #adabac;
}
.baseLineLabel.supressed{
    opacity: 0;
}

/*********************************************************************************/
/*****************************      HOME FOOTER      *****************************/
/*********************************************************************************/

#footerContainer{
	margin-top: 90px;
	border-top: 2px solid #D2D2D2;
}
#footerContent{
	width: 700px;
	margin: 0 auto;
}
.footerHeader{
	margin-top: 50px;
	margin-bottom: 8px;
	font-size: 34px;
	font-weight: bold;
	text-transform: uppercase;
	display: inline-block;
}
#topFooterHeader{
	padding-top: 44px;
}
.footerAbout, .footerCredits, .footerSpecialCredit{
    font-size: 16px;
    line-height: 26px;
}
.footerCredits, .footerSpecialCredit{
	font-size: 14px;
	font-style: italic;
	line-height: 22px;
}
#bottomFooterCredits{
	margin-bottom: 45px;
}
.creditsHeader{
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}
.creditsNames{
	margin-bottom: 30px;
	margin-top: 5px;
	font-size: 16px;
}
#copyright{
	margin-bottom: 100px;
	display: inline-block;
}





/*********************************************************************************/
/*****************************       PRINT      **********************************/
/*********************************************************************************/
.print.cover{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 1000;
}
.printHide{
    display: none;
}
body.print .printHide{
    display: block;
}
body.print #header-pinned,
body.print #scenarioTabs,
body.print .sidebar.button,
body.print .s1.radioContainer .radioRow.dollars,
body.print .s1P.radioContainer .radioRow.percent,
body.print .s2.radioContainer .radioRow.dollars,
body.print .s2P.radioContainer .radioRow.percent,
body.print .radioRow span::before,
body.print .radioRow span::after,
body.print .sliderLabel,
body.print .slider,
body.print #footerContent .button,
body.print .tt{
    display: none;
}
body.print .home-print-logo{
    width: 95px;
    display: inline-block;

}
.print.page{
	height: 320mm;
	position: relative;
}
.print.container, body.print #mainContent, body.print #approachesContainer{
	width: 220mm;
	overflow: hidden;
}
body.print .page-break{
    /*width: 10px;*/
    display: block;
    /*height: 10px;*/
    /*background: red;*/
}
body.print #title{
    display: block;
    font-size: 30px;
    width: auto;
    margin-bottom: 0px;
    top: 10px;
    margin-top: -60px;
    margin-left: -160px;
    position: relative;
}
body.print #datePublished{
    position: relative;
    top: -38px;
    right: 0px;
    font-size: 14px;
    display: inline-block;
    float: right;
}
body.print .introText {
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    margin-top: 39px;
    margin-bottom: -31px;
}
body.print .titleContainerPrint, body.print #titleContainer{
    border-bottom: 1px solid #D2D2D2;
    margin-bottom: 20px;
    padding-bottom: 50px;
    margin-top: 10px;
}

body.print #mainContent{
    width: 210mm;
    position: relative;
    left: 0px;
    float: none;
    display: block;
    margin: 0;
}
body.print .inputContainer {
    width: 58mm;
    padding-right: 0px;
    margin-top: 0px;
}
body.print .h1.colorText{
    font-size: 20px;
}
body.print .p1 {
    font-size: 12px;
    line-height: 14px;
}

body.print .p1.extraMargin{
    margin-top: 5px;
}
body.print .legend{
    margin-top: 20px;
    margin-bottom: 0px;
    position: relative;
    font-size: 14px;
}
body.print .legend span{
    width: 12px;
}
body.print .legend span img {
    width: 7px;
    position: absolute;
    top: -3px;
}
body.print .h2.colorText {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 4px;
    margin-top: 20px;
    text-transform: uppercase;
}
body.print .printInputVal{
    font-weight: bold;
    font-size: 14px;
    margin-top: -3px;
    margin-bottom: -3px;
}
body.print .scenarioContainer{
    display: inline-block;
}
body.print .chartContainer{
    width: 139mm;
    margin-left: 10mm;
    margin-top: 0px;
}
body.print #controlsContainer{
    width: 210mm;
    display: block;
    float: none;
}
body.print .oneYear .chartHeader, body.print .radioRow .chartHeader{
    font-size: 14px;
    font-weight: normal;
}
body.print .benefits .chartHeader{
    width: 200px;
}
body.print .radioRow .chartHeader{
    margin-left: -23px;
}
body.print .barContainer .chartHeader{
    font-size: 18px;
    margin-bottom: -12px;
}

body.print .largeText{
    font-size: 22px;
    margin-bottom: 0px;
}
body.print .medText{
    font-size: 18px;
    margin-top: 10px;
}
body.print .baselineText {
    font-size: 12px;
    margin-top: 0px;
}
body.print .suppressedContainer{
    left: 104px;
}

body.print .costSubcontainer .chartLabel{
    font-weight: normal;
    font-size: 12px;
    width: auto;
}
body.print .avgContainer,body.print .costSubcontainer {
    width: 50mm;
}

body.print .scenarioContainer{
    width: 210mm;
    opacity: 1;
    position: relative;
    top: 0px !important;
    z-index: 1;
    opacity: 1;
}
body.print .barContainer{
    width: 50%;
    margin-right: 0px;
    margin-bottom: -13px;
}
body.print .suppressedContainer{
    font-size: 12px;
}
body.print #mobileScenario{
    display: none;
}
body.print .chartLabel {
    font-size: 12px;
    width: 105px;
    line-height: 13px;
}
body.print #footerContainer .home-print-logo{
    display: inline-block;
    margin-right: 30px;
    top: 16px;
    position: relative;
}
body.print #footerContainer {
     margin-top: 0px; 
     border-top: none; 
}
body.print #footerContent {
    width: 210mm;
    margin: 0px;
}
body.print #topFooterHeader{
    margin-top: 0px;
    padding-top: 0px;
}
body.print .inputContainer a{
text-decoration: none;
color: #353535;
}
@media print{
  @page {
    size: 220mm 297mm; /* portrait 
    /* you can also specify margins here: */
    margin: 15mm;	
   /*margin-right: 45mm;  for compatibility with both A4 and Letter */
  }

   body.print #footerContainer a:after{
   	content:" (" attr(href) ") ";font-size:0.8em;font-weight:normal;
   }
   .page-break { height:0; page-break-after:always; margin:0; border-top:none; }
}

