
#breakpoint1200, #breakpoint1000, #breakpoint900, #isMobile, #isPhone, #isSmallPhone, #isVerySmallPhone{
	position: fixed;
	width: 0px;
	height: 0px;
	top: 0px;
	left: 0px;
	pointer-events: none;
	display: none;
}

@media(max-width: 1200px){
/* home */
	#breakpoint1200{
		display: block;
	}
	#mainContent,#smallFooter div, #controlsContainer{
		width: 900px;
	}
	#controlsContainer{
		width: 900px
	}
	.inputContainer{
		width: 220px;
	}
	.avgContainer, .costSubcontainer {
		width: 275px;
	}
	.avgContainer{
		margin-left: 18px;
	}
	.chartContainer{
		width: 590px;
	}
	.inputContainer{
		margin-top: 2px;
	}
	.scenarioContainer.hidden{
		top: 147px;
	}
	.chartHeader{
		font-size: 22px;
	}
	input[type=range] {
	    width: 220px;
	}

	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	  input[type=range] {
	    width: 220px;
	  }
	}
	.sliderMax.a{
		left: 191px;
	}
	.sliderMax.b, .sliderMax.c{
		left: 206px
	}


}
/**/
@media(max-width: 1000px){
/* home */
	#breakpoint1000{
		display: block;
	}
	#homeCopy{
		width: 100%;
	}
	#mainContent,#approachesContainer,#smallFooter div{
		width: calc(100% - 100px);
	}
	#controlsContainer, .chartContainer{
		width: 100%;
	}
	.barContainer {
	    width: calc(50% - 50px);
    	/*margin-right: 40px;*/
    }
	#scenarioTabs{
		/*display: none;*/
	}
	.inputContainer{
		width: 100%;
		padding-right: 0px;
	}
	.introText{
		font-size: 16px;
	}
	.p1{
		font-size: 14px;
		line-height: 21px;
		width: 100%;
	}
	.p1.top{
		margin-bottom: 10px;
	}
	.h1.colorText{
		font-size: 16px;
		margin-bottom: 10px;
	}
	.largeText{
		font-size: 26px;
    	margin-bottom: 3px;
    }
    .chartHeader{
    	font-weight: normal;
    	font-size: 18px;
    }
    .baselineText{
		font-size: 14px;
    	margin-top: 1px;
    }
	.costSubcontainer .chartLabel {
	    font-size: 16px;
	    font-weight: normal;
	}
	.medText{
		font-size: 20px;
	}


	input[type=range] {
	    width: 500px;
	}

	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	  input[type=range] {
	    width: 500px;
	  }
	}
	.sliderContainer{
		width: 500px;
	}
	.sliderMax.a{
    	right: -24px;
    	left: auto;
	}
	.sliderMax.b, .sliderMax.c{
		left: auto;
		right: -20px;
	}
	.sliderMin.b{
		left: -3px;
	}
	.sliderMin.c{
		left: -12px;
	}
	.chartContainer{
		margin-top: 40px;
	}
}
@media(max-width: 769px){
/* home */
	#isMobile{
		display: block;
	}
	#homeCopy{
		margin-top: 670px
	}

}
@media(max-width: 620px){
/* home */
/*	#isPhone{
		display: block;
	}
	#mainContent,#approachesContainer,#smallFooter div, #footerContent{
		width: calc(100% - 80px);
	}
*/}
@media(max-width: 500px){
/* home */
/*	#isSmallPhone{
		display: block;
	}
	#mainContent,#approachesContainer,#smallFooter div, #footerContent{
		width: calc(100% - 50px);
	}
*/}
@media(max-width: 400px){
}
